.jumbotron {
    background-color: rgb(161, 216, 211);
    color: black;
}

.btn {
    width: 100%;
    background-color: rgb(161, 216, 211);
    color: white;
}

.carteles {
    flex: 1 px;
    padding: 2px 5px 2px 5px;
    font-size: xx-large;
    font-style: italic;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(161, 216, 211);
    margin-bottom: 0px;
    margin-top: 10px;
}